<body>
  <div class="calculator">
    <h2>Simple Calculator</h2>
    <input type="number" id="num1" [(ngModel)]="num1" placeholder="Enter first number">
    <input type="number" id="num2" [(ngModel)]="num2" placeholder="Enter second number">
  
    <div class="buttons">
      <button (click)="add()">+</button>
      <button (click)="subtract()">-</button>
      <button (click)="multiply()">x</button>
      <button (click)="divide()">÷</button>
    </div>
  
  
    <h3>Result: {{ result | number: '1.0-8' }}</h3>
  </div>
</body>


